@import "tailwindcss";

:root {
  --background: #ece7df;
  --foreground: #ece7df;
  --text: #4c6763;
}

.dark {
  --background: #283831;
  --foreground: #283831;
  --text: #d4ede4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: bold;
  color: #025a4e;
}

.dark h1 {
  color: #8fdcc2;
}

@theme {
  --font-display: "Satoshi", "sans-serif";

  /* Basic Color */
  --color-blue: #0000ff;
  --color-mainblue: #1447e6;
  --color-red: #ff0000;
  --color-green: #008000;
  --color-yellow: #ffff00;

  /* Light Color */
  --color-light-background: #ece7df;
  --color-light-forest: #4c6763;
  --color-forest: #025a4e;

  /* Dark Color */
  --color-dark-background: #283831;
  --color-light-neon: #d4ede4;
  --color-neon: #8fdcc2;
  --color-dark-gradient: linear-gradient(
    to bottom,
    hsla(158, 23%, 18%, 0) 0%,
    hsla(158, 23%, 18%, 0.013) 9.7%,
    hsla(158, 23%, 18%, 0.049) 18.1%,
    hsla(158, 23%, 18%, 0.104) 25.5%,
    hsla(158, 23%, 18%, 0.175) 31.9%,
    hsla(158, 23%, 18%, 0.259) 37.7%,
    hsla(158, 23%, 18%, 0.352) 43%,
    hsla(158, 23%, 18%, 0.45) 47.9%,
    hsla(158, 23%, 18%, 0.55) 52.8%,
    hsla(158, 23%, 18%, 0.648) 57.7%,
    hsla(158, 23%, 18%, 0.741) 63%,
    hsla(158, 23%, 18%, 0.825) 68.7%,
    hsla(158, 23%, 18%, 0.896) 75%,
    hsla(158, 23%, 18%, 0.951) 82.2%,
    hsla(158, 23%, 18%, 0.987) 90.5%,
    hsl(158, 23%, 18%) 100%
  );
}
