@import "tailwindcss";

:root {
  --background: #ede7de;
  --foreground: #ede7de;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ede7de;
    --foreground: #ede7de;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@tailwind utilities;

body {
  @apply text-light-forest;
}

h1 {
  @apply font-bold text-forest;
}

@theme {
  --color-blue: #0000ff;
  --color-mainblue: #1447e6;
  --color-red: #ff0000;
  --color-green: #008000;
  --color-yellow: #ffff00;
  --color-champagne: #ede7de;
  --color-light-forest: #4c6763;
  --color-forest: #025a4e;
}
